// Import page-specific CSS files here.
@import "home";
@import "showtour";
@import "bookingsindex";

.btn-primary:active {
  background-color: #ffffff; /* Couleur souhaitée lorsque le bouton est activé */
  border-color: #000000; /* Couleur souhaitée lorsque le bouton est activé */
  color: #ffffff; /* Couleur souhaitée lorsque le bouton est activé */
  border-radius: 8px;
}

.full-width-btn {
  display: block;
  width: 100%;
}
