<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-production.checkfront.com/wp-content/uploads/2022/05/img_6273f0e0deafc.jpg);">
  <div class="container">
    <h1>Live a unique experience</h1>
     <p>Find the local guide that suits you</p>
    <%= link_to "Find your guide", home_search_path, class: "btn btn-primary-ghost" %>
  </div>
</div>
