<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-production.checkfront.com/wp-content/uploads/2022/05/img_6273f0e0deafc.jpg);">
  <div class="container">
    <h1>Become <strong>a guide !</h1>
    <p>Live a unique experience </p>
    <a class="btn btn-flat" href="#">Add my tour</a>
  </div>
</div>
