<p><%= link_to tour.name, tour_path(tour), class: "text-14 text-decoration-none fw-bold text-black" %></p>
<p class="text-12 fst-italic mb-0", id="small-line-height", style="margin-top: -8px;"><%= tour.address %></p>
