 <%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2 class="text-center mb-4">Devenez guide dans votre ville</h2>
  <%= render "form", tour: @tour, hobby: @hobby,label: "Create my tour" %>
</div>
