 <%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2 class="text-center mb-4">Devenez guide, faites vivre une expérience unique aux voyageurs</h2>
  <%= render "form", tour: @tour, hobby: @hobby,label: "Créer" %>
</div>
