// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "form";
@import "footer";
@import "cards";
@import "search-form-guide";


.label {
  font-size: 14px;
}

.form-label {
  font-size: 18px;
}

.btn-primary {
  background-color: #A2CDB0;;
  border-color: #85A389;
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-primary:hover {
  font-weight: bold;
  background-color: #85A389;
  border-color: #A2CDB0;
  color: #ffffff;
  border-radius: 6px;
}



.btn-primary-ghost {
  color: #ffff;
  background-color: transparent;
  border: 1px solid #cdc9c9;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-primary-ghost:hover {
  color: #ffff;
  opacity: 1;
  background-color: #85A389;
  border: 1px solid #ffff;
  transition: 0.3 ease;
}



//.btn-primary {
   // background-color: #A2CDB0;;
   // border-color: #85A389;
    //color: #ffffff;
   // border-radius: 6px;
//}
//.btn-primary:hover {
  //background-color: #85A389;
  //border-color: #A2CDB0;
  //color:  #ffffff;
  //border-radius: 6px;
//}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Quattrocento Sans', sans-serif;
}
