// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "form";
@import "footer";
@import "cards";
@import "search-form-guide";

.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    border-radius: 8px;
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
}
