// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "form";
@import "footer";
@import "cards";
@import "search-form-guide";

.btn-primary {
    background-color: #A2CDB0;;
    border-color: #85A389;
    color: #ffffff;
    border-radius: 6px;
}
.btn-primary:hover {
  background-color: #85A389;
  border-color: #A2CDB0;
  color:  #ffffff;
  border-radius: 6px;
}
