.logo-img {
  margin: 0;
  width: 65px; /* Modifier la taille selon vos besoins */
  height: auto; /* Pour conserver les proportions de l'image */
}

.navbar-lewagon {
  margin: 0;
  padding:0;
  background: white;
}

.custom-dropdown-menu {
  border: none;
  background: none;
  background-color: none;
}

.custom-dropdown-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.custom-dropdown-item:hover {
  font-weight: bolder;
}

.style-item:hover {
  font-weight: bolder;
}

.nav-link:hover {
  font-weight: bolder;
}

.dropdown-item {
  color: #000000;
}

.dropdown-toggle {
  color: #000000;
}
