.tag-item {
  display: inline-block;
}

.btn-primary-search-center {
  color: #ffff;
  width: 100%;
  background-color: #85A389;
  border: 1px solid #cdc9c9;
  padding: 8px 40px;
  border-radius: 50px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  margin-bottom: 200px;
}

.btn-primary-search-center:hover {
  color: #ffff;
  opacity: 1;
  background-color: #85A389;
  border: 1px solid #cdc9c9;
  transition: 0.3 ease;
  font-weight: bold;
}

.btn-primary-search-center:active {
  color: #ffff;
  opacity: 1;
  background-color: #85A389;
  border: 1px solid #cdc9c9;
  transition: 0.3 ease;
  font-weight: bold;
}



.form-label {
  font-size: 24px;
}




.tag-selector {
  position: absolute;
  transform: scale(0);
}

.label-ville,
.label-number_of_travlers,
.label-hobby {
  font-size: 42px;
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  border-radius: 50rem;
  padding: 0.3rem 1rem;
  background-color: #ffffff;
  color: #525050;
  border: 1px solid #525050;
  margin-bottom: 0.4rem;
  width: max-content;
}

.tag-selector:checked + label {
  background-color: #F1C27B;
  color: #ffff;
  border: 1px solid #ffff;
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden-label {
  display: none;
}


.hobby-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5px;
}

.tag-label {
  display: inline-block;
}


.custom-select {
  font-size: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #cdc9c9;
  width: 100%;
  transition: border-color 0.3s ease;
}

.custom-select:focus {
  outline: none;
  border-color: #747474; /* Couleur de bordure lorsqu'elle est sélectionnée */
  box-shadow: 0 0 0 2px rgba(126, 115, 255, 0.2); /* Effet d'ombre lorsqu'elle est sélectionnée */
}

.custom-select option {
  background-color: #fff; /* Couleur de fond des options */
  color: #cdc9c9; /* Couleur du texte des options */
}

.custom-select:hover {
  border-color: #999; /* Couleur de bordure au survol */
}



.form-control-search-guide{
  padding : 10px 20px;
  color: white;
  width: 100%;
  border-radius: 50rem;
  border: 1px solid #FFD89C;
  background-color: #F1C27B;
  display: inline;
  justify-content: center;
  align-items: center;
}

.search-bar-guide-v3 {
  margin-bottom: 15px;
  text-align: center;
}

.search-bar-guide-v3 input[type="text"]::placeholder {
  color: white;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
